main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* Add any additional styling for main */
}

.welcome-title {
  font-size: 15rem;
  color: white;
  font-family: SignPainter;
}

main > div {
  color: white;
  text-align: center;
  /* Add padding, margins, and other styles as needed */
  background-color: #1225189d;
  border-radius: 3rem;
  padding: 60px 90px;
  margin: 10px;
}

.quote {
  font-family: SignPainter;
  font-size: larger;
  font-style: italic;
}
